.foodie {
  display: flex;
  width: 100%;
  border-top: 2px dashed #ffe4c4;
  color: #ffe4c4;
}
.foodie .foodie-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95%;
  margin: 2%;
  padding: 2%;
}
.foodie .foodie-left h2 {
  margin: 1%;
  padding: 1%;
}
.foodie .foodie-left p {
  margin: 1%;
  padding: 1%;
  line-height: 2rem;
}
.foodie .foodie-right {
  width: 100%;
  margin: 1%;
  padding: 1%;
}
.foodie .foodie-right img {
  height: auto;
  width: 100%;
  margin: 2%;
  padding: 2%;
}
@media (max-width: 600px) {
  .foodie .foodie-right img {
    width: 95%;
    margin: 1%;
    padding: 2%;
  }
}
@media (max-width: 600px) {
  .foodie {
    display: flex;
    flex-direction: column-reverse;
  }
}
.about-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .about-content {
    width: 700px;
  }
}
@media (min-width: 900px) {
  .about-content {
    width: 900px;
  }
}
@media (min-width: 1100px) {
  .about-content {
    width: 100%;
  }
}
.about-content .about-header {
  color: beige;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 95%;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .about-content .about-header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .about-content .about-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .about-content .about-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 900px) {
  .about-content .about-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (min-width: 1100px) {
  .about-content .about-header {
    width: 95%;
    margin: 0 auto;
  }
}
.about-content .about-header h1 {
  font-family: "Baloo Bhai", cursive;
  font-size: 3rem;
  width: 45%;
}
@media (min-width: 700px) {
  .about-content .about-header h1 {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .about-content .about-header h1 {
    font-size: 2.7rem;
    width: 100%;
    background: #0d0811;
    border: 2px double beige;
    border-radius: 5%;
  }
}
@media (max-width: 500px) {
  .about-content .about-header h1 {
    font-size: 2.7rem;
    width: 100%;
    background: #0d0811;
    border: 2px double beige;
    border-radius: 5%;
  }
}
@media (min-width: 900px) {
  .about-content .about-header h1 {
    width: 40%;
    font-size: 2.5rem;
  }
}
.about-content .about-header nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
@media (min-width: 700px) {
  .about-content .about-header nav {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .about-content .about-header nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .about-content .about-header nav {
    width: 95%;
    padding-bottom: 30px;
    margin: 0 auto;
  }
}
@media (min-width: 900px) {
  .about-content .about-header nav {
    width: 55%;
  }
}
.about-content .about-header nav a {
  color: bisque;
  text-decoration: none;
  font-family: "Cabin", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding-top: 70px;
}
@media (max-width: 400px) {
  .about-content .about-header nav a {
    font-size: 1.3rem;
    display: flex;
    padding-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .about-content .about-header nav a {
    font-size: 0.9rem;
  }
}
@media (min-width: 900px) {
  .about-content .about-header nav a {
    font-size: 1rem;
  }
}
.about-content .about-header nav a:hover {
  color: red;
  cursor: pointer;
}
.about-content .foodie-about {
  background: url("https://previews.123rf.com/images/marchie/marchie1505/marchie150500031/40114604-seamless-pattern-background-asian-food-.jpg");
}
.about-content .foodie-about h2 {
  font-family: "Baloo Bhai", cursive;
  color: beige;
  background: black;
  width: 100%;
  text-align: center;
}
@media (max-width: 400px) {
  .about-content .foodie-about h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .about-content .foodie-about h2 {
    font-size: 2rem;
  }
}
.about-content .foodie-about p {
  color: beige;
  background: black;
  font-family: "Cabin", sans-serif;
}
@media (min-width: 700px) {
  .about-content .foodie-about p {
    padding: 20px;
  }
}
@media (max-width: 400px) {
  .about-content .foodie-about p {
    font-size: 0.9rem;
    padding: 30px;
    text-align: left;
    width: 75%;
    margin: 0 auto;
    border: 1px double bisque;
    border-radius: 7%;
  }
}
@media (max-width: 500px) {
  .about-content .foodie-about p {
    font-size: 0.7rem;
    padding: 30px;
    text-align: left;
    width: 75%;
    margin: 0 auto;
    border: 1px double bisque;
    border-radius: 7%;
  }
}
.about-content .dev-contents {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 400px) {
  .about-content .dev-contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.about-content .dev-contents .dev-container {
  background: grey;
}
@media (min-width: 700px) {
  .about-content .dev-contents .dev-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #0d0811;
    padding: 20px;
  }
}
@media (max-width: 400px) {
  .about-content .dev-contents .dev-container {
    background: #0d0811;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
@media (max-width: 500px) {
  .about-content .dev-contents .dev-container {
    background: #0d0811;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
@media (min-width: 700px) {
  .about-content .dev-contents .dev-container .img-container {
    width: 30%;
  }
}
@media (max-width: 400px) {
}
@media (min-width: 700px) {
  .about-content .dev-contents .dev-container .img-container .dev-img {
    width: 100%;
    border-radius: 100%;
  }
}
@media (max-width: 400px) {
  .about-content .dev-contents .dev-container .img-container .dev-img {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 100%;
  }
}
@media (max-width: 500px) {
  .about-content .dev-contents .dev-container .img-container .dev-img {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 100%;
  }
}
@media (min-width: 700px) {
  .about-content .dev-contents .dev-container .about-dev {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .about-content .dev-contents .dev-container .about-dev {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .about-content .dev-contents .dev-container .about-dev {
    text-align: center;
  }
}
.about-content .dev-contents .dev-container .about-dev h3 {
  font-family: "Baloo Bhai", cursive;
  color: beige;
}
.about-content .dev-contents .dev-container .about-dev p {
  font-family: "Cabin", sans-serif;
  color: beige;
}
.about-content .dev-contents .dev-container .about-dev .dev-btn {
  background: black;
}
@media (min-width: 700px) {
  .about-content .dev-contents .dev-container .about-dev .dev-btn {
    width: 90%;
    margin: 0 auto;
    height: 37px;
  }
}
@media (max-width: 400px) {
  .about-content .dev-contents .dev-container .about-dev .dev-btn {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5%;
  }
}
@media (max-width: 500px) {
  .about-content .dev-contents .dev-container .about-dev .dev-btn {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5%;
  }
}
.about-content .dev-contents .dev-container .about-dev .dev-btn .dev-a {
  font-family: "Cabin", sans-serif;
  color: beige;
  text-decoration: none;
}
@media (min-width: 700px) {
  .about-content .dev-contents .dev-container .about-dev .dev-btn .dev-a {
    font-size: 0.8rem;
  }
}
@media (max-width: 400px) {
  .about-content .dev-contents .dev-container .about-dev .dev-btn .dev-a {
    font-size: 0.7rem;
  }
}
@media (max-width: 500px) {
  .about-content .dev-contents .dev-container .about-dev .dev-btn .dev-a {
    font-size: 0.7rem;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #262323;
  color: #ffe4c4;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: row;
}
header div {
  width: 15%;
  margin: 1%;
  padding: 2%;
}
header div img {
  height: auto;
  width: 100%;
  margin: 1%;
  padding: 1%;
}
@media (max-width: 600px) {
  header div {
    width: 50%;
    margin: 1%;
    padding: 2%;
    align-content: center;
  }
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 95%;
}
header nav a {
  justify-content: center;
  text-decoration: none;
  font-size: 3rem;
  color: #ffe4c4;
  margin: 7%;
  padding: 1%;
}
@media (max-width: 600px) {
  header nav a {
    font-size: 1.8rem;
  }
}
header nav a:hover {
  cursor: pointer;
  background-color: #f5f5dc;
  color: black;
}
@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
footer {
  display: flex;
  border-top: 2px dashed #ffe4c4;
}
footer div {
  width: 50%;
  align-content: center;
  margin: 1%;
  padding: 2%;
}
footer div h2 {
  font-size: 2rem;
  text-align: center;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: none;
  width: 95%;
}
footer nav a {
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  color: #ffe4c4;
  margin: 2%;
  padding: 2%;
}
footer nav a:hover {
  cursor: pointer;
  background-color: #f5f5dc;
  color: black;
}
.introduction {
  display: flex;
  width: 100%;
  border-top: 2px dashed #ffe4c4;
  color: #ffe4c4;
}
.introduction .introduction-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95%;
  margin: 2%;
  padding: 2%;
}
.introduction .introduction-left h2 {
  margin: 1%;
  padding: 1%;
}
.introduction .introduction-left p {
  margin: 1%;
  padding: 1%;
  line-height: 2rem;
}
.introduction .introduction-right {
  width: 100%;
  margin: 1%;
  padding: 1%;
}
.introduction .introduction-right img {
  height: auto;
  width: 100%;
  margin: 2%;
  padding: 2%;
}
@media (max-width: 600px) {
  .introduction .introduction-right img {
    width: 95%;
    margin: 1%;
    padding: 2%;
  }
}
@media (max-width: 600px) {
  .introduction {
    display: flex;
    flex-direction: column;
  }
}
.capabilities {
  display: flex;
  width: 100%;
  border-top: 2px dashed #ffe4c4;
  color: #ffe4c4;
}
.capabilities .capabilities-left {
  width: 95%;
  margin: 2%;
  padding: 2%;
}
.capabilities .capabilities-left img {
  height: auto;
  width: 100%;
}
@media (max-width: 600px) {
  .capabilities .capabilities-left img {
    width: 95%;
    margin: 1%;
    padding: 2%;
  }
}
.capabilities .capabilities-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95%;
  margin: 2%;
  padding: 2%;
}
.capabilities .capabilities-right h2 {
  margin: 1%;
  padding: 1%;
}
@media (max-width: 600px) {
  .capabilities {
    display: flex;
    flex-direction: column-reverse;
  }
}
.notebook {
  display: flex;
  width: 100%;
  border-top: 2px dashed #ffe4c4;
}
.notebook .notebook-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95%;
  margin: 2%;
  padding: 2%;
}
.notebook .notebook-left h2 {
  margin: 1%;
  padding: 1%;
}
.notebook .notebook-left p {
  margin: 1%;
  padding: 1%;
  line-height: 2rem;
}
.notebook .notebook-right {
  width: 100%;
  margin: 1%;
  padding: 1%;
}
.notebook .notebook-right img {
  height: auto;
  width: 100%;
  margin: 1%;
  padding: 1%;
}
@media (max-width: 600px) {
  .notebook .notebook-right img {
    width: 95%;
    margin: 1%;
    padding: 2%;
  }
}
@media (max-width: 600px) {
  .notebook {
    display: flex;
    flex-direction: column;
  }
}
.benefits {
  display: flex;
  width: 100%;
  border-top: 2px dashed #ffe4c4;
}
.benefits .benefits-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 2%;
  padding: 2%;
}
.benefits .benefits-left h2 {
  margin: 2%;
  padding: 2%;
}
.benefits .benefits-left p {
  line-height: 2rem;
}
.benefits .benefits-right {
  width: 100%;
  margin: 1%;
  padding: 1%;
}
.benefits .benefits-right img {
  height: auto;
  width: 100%;
  margin: 1%;
  padding: 1%;
}
@media (max-width: 600px) {
  .benefits {
    display: flex;
    flex-direction: column;
  }
}
.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px dashed #ffe4c4;
}
.sign-up .sign-up-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  line-height: 2rem;
  margin: 2%;
  padding: 2%;
}
.sign-up .sign-up-bottom h2 {
  margin: 1%;
  padding: 1%;
}
.sign-up .sign-up-bottom p {
  width: 50%;
}
@media (max-width: 600px) {
  .sign-up .sign-up-bottom p {
    width: 90%;
    margin: 1%;
    padding: 1%;
  }
}
.sign-up .sign-up-bottom .button {
  width: 20%;
  height: auto;
  font-size: 2rem;
  color: #f5f5dc;
  background-color: #a9a9a9;
  margin: 1%;
  padding: 1%;
}
.sign-up .sign-up-bottom .button:hover {
  cursor: pointer;
  background-color: #f5f5dc;
  color: black;
}
