.landing-page-top {
	display: flex;
	width: 100%;

	.headline {
		display: flex;
		flex-direction: column;
		text-align: center;
		background-color: #a9a9a9;
		border: 2px solid white;
		width: 95%;
		.spacing(1%, 1%);

		h2 {
			.spacing(1%, 1%);
		}

		p {
			.spacing(2%, 2%);
		}
	}

	.eat-image {
		width: 100%;
		.spacing(1%, 1%);

		img {
			height: auto;
			width: 95%;
			.spacing(1%, 1%);
		}
	}
}

.landing-page-middle {
	display: flex;
	width: 100%;

	img {
		height: 70vh;
		width: auto;
		.spacing(2%, 2%);
	}

	.capabilities {
		display: flex;
		flex-direction: column;
		.spacing(2%,2%);

		h2 {
			font-size: 3rem;
		}
	}
}
