.landing-page-top {
	display: flex;

	.headline {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		width: 45%;
		.spacing(1%, 1%);
	}

	.eat-img {
		width: 50%;

		img {
			height: 25vh;
			width: auto;
		}
	}
}

.landing-page-middle {
	div {
		width: 50%;
	}
	img {
		height: 70vh;
		width: auto;
	}
}
