<<<<<<< HEAD
.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
=======
//Mixins

.spacing(@m, @p) {
	margin: @m;
	padding: @p;
>>>>>>> 07768f71fb179e0ee3c9409fb29fc26cdcd74190
}
