//Mixins

.spacing(@m, @p) {
	margin: @m;
	padding: @p;
}

.nav-main-features(@justify, @align) {
	display: flex;
	flex-direction: row;
	justify-content: @justify;
	align-content: @align;
	width: 95%;
}
