header {
	display: flex;
	flex-direction: row;

	div {
		width: 50%;
		align-content: center;

		h2 {
			font-size: 3rem;
		}
	}

	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 50%;

		a {
			text-decoration: none;
			font-size: 2rem;
			color: #fff8f4;
			.spacing(1%, 2%);
		}
	}
}
