// benefits

.benefits {
	display: flex;
	width: 95%;
	border-top: 1px dashed floralwhite;
	.spacing(2%, 2%);

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 95%;
		.spacing(2%, 2%);
	}
}
