// benefits

.benefits {
	display: flex;
	width: 100%;
	border-top: 2px dashed @main-color;

	.benefits-left {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 95%;
		.spacing(2%, 2%);

		h2 {
			.spacing(2%, 2%);
		}

		p {
			line-height: 2rem;
			text-align: center;
		}
	}

	.benefits-right {
		width: 100%;
		.spacing(1%, 1%);

		img {
			height: auto;
			width: 100%;
			border-radius: 10%;
			.spacing(1%, 1%);
		}
	}

	@media @mobile {
		display: flex;
		flex-direction: column;
	}
}

.sign-up {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top: 2px dashed @main-color;

	.sign-up-bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		line-height: 2rem;
		.spacing(3%, 2%);

		h2 {
			.spacing(1%, 1%);
		}

		p {
			width: 50%;
			text-align: center;

			@media @mobile {
				width: 90%;
				.spacing(2%, 1%);
			}
		}

		.button {
			width: 20%;
			height: auto;
			font-size: 2rem;
			color: @secondary-color;
			background-color: #f4a460;
			border-radius: 5%;
			.spacing(1%, 1%);
		}

		.button:hover {
			cursor: pointer;
			background-color: @secondary-color;
			color: black;
		}
	}
}
