// benefits

.benefits {
	display: flex;
	width: 95%;
	border-top: 1px dashed floralwhite;
	.spacing(2%, 2%);

	.benefits-left {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 95%;
		.spacing(2%, 2%);

		h2 {
			.spacing(2%, 2%);
		}

		p {
			line-height: 2rem;
		}
	}

	.benefits-right {
		width: 100%;
		.spacing(1%, 1%);

		img {
			height: auto;
			width: 100%;
			.spacing(1%, 1%);
		}
	}

	@media @mobile {
		display: flex;
		flex-direction: column;
	}
}

.sign-up {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.sign-up-bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		line-height: 2rem;
		.spacing(2%, 2%);

		h2 {
			.spacing(1%, 1%);
		}

		p {
			width: 50%;

			@media @mobile {
				width: 90%;
				.spacing(1%, 1%);
			}
		}

		.button {
			text-decoration: floralwhite;
			background-color: #a9a9a9;
			.spacing(1%, 1%);
		}
	}
}
